node_modules/
dist/
.astro/
**/.DS_Store
.env*
*.log
.vscode/
.idea/
*.local
package-lock.json

# opencode
.opencode/
opencode.json
opencode.jsonc

# openwork
.openwork/
openwork.json
openwork.jsonc

# openspec
openspec/
.openspec/
openspec.json
openspec.jsonc
