---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="درباره من — حامد" section={{ label: "درباره", url: "/about" }}>
  <article>
    <h1>درباره من</h1>
    <p>حامد هستم: یک <a href="https://github.com/hameds">توسعه‌دهنده نرم‌افزار</a> علاقمند به کتاب. نوشتن رو سال‌ها پیش شروع کردم و اینجا بخشی از آرشیو نوشته‌های فعلی و گذشته است. فعالیت‌های داوطلبانه‌ مختلفی هم برای جامعه نرم‌افزار در ایران داشته و دارم که تلاش می‌کنم به تدریج ازشون بنویسم.</p>
    <p>توی شبکه‌های اجتماعی تنها در توییتر فعال هستم، گرچه مدتی فعال <a href="/next">نبودم</a> ولی برگشتم و از دلایلش خواهم گفت: <a href="https://twitter.com/hamed">https://twitter.com/hamed</a></p>
  </article>
</BaseLayout>
